
/*Exercício 1
body {
    font-family: Arial, Helvetica, sans-serif;
}

.quadrogeral {
    text-align: center;
    border: 5px;
    margin-left: 50px;
}

.maintitle {
   text-align: center;
   border: 5px
}

div.post {
    border: grey;
    float: left;
}

div.form {
    border: grey;
    margin-right: 20px;
    float: right;
}
*/

